.about {
    margin: 0 auto;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    .aboutText {
        width: 80vw;
        margin: 0 auto;
        h1 {
            text-align: center;
            font-size: 1.5rem;
            margin: 3rem 0;
        }
    }
    img {
        width: 70vw;
        margin: 0 auto;
        border-radius: 10px;
    }
    // border-bottom: 1px solid lightgray;
}