// ***********general styling section **************************
body {
    background: white;
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: .5px;
}

p {
    font-family: 'Courier New OS';
    opacity: .9;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Courier New OS';
    &:hover {
        color: goldenrod;
    }
}