body {
    background: floralwhite;
}

h1,
h2,
h3 {
    font-family: 'Muli';
}

p {
    font-family: 'Sintony'
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: goldenrod;
    }
}