// ***********general styling section **************************
body {
    background: white;
}

h1,
h2,
{
    font-family: 'Arbutus Slab';
    font-weight: 400;
    letter-spacing: .5px;
}

h3 {
    font-family: 'Muli';
    letter-spacing: .8px;
}

p {
    font-family: 'Muli';
    opacity: .9;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Muli';
    &:hover {
        color: goldenrod;
    }
}