header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    width: 100vw;
    position: fixed;
    a {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Muli';
        font-weight: 700;
    }
}