header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    width: 100vw;
    position: fixed;
    a {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
    }
}