.projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    img {
        width: 80vw;
        border-radius: 5px;
        &:hover {
            border: 3px solid lightgrey;
        }
    }
    p {
        width: 80vw;
        margin: 3vh auto;
        margin-bottom: 2rem;
    }
    h2 {
        margin: 2rem 0;
        margin-bottom: 0;
    }
    h3 {
        margin: 1.5rem 0;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
    }
}